@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Bold.woff2') format('woff2'),
        url('../fonts/Signika-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Medium.woff2') format('woff2'),
        url('../fonts/Signika-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Light.woff2') format('woff2'),
        url('../fonts/Signika-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Regular.woff2') format('woff2'),
        url('../fonts/Signika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-SemiBold.woff2') format('woff2'),
        url('../fonts/Signika-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Light.woff2') format('woff2'),
        url('../fonts/Signika-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/SignikaLight-Bold.woff2') format('woff2'),
        url('../fonts/SignikaLight-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/SignikaLight-Bold.woff2') format('woff2'),
        url('../fonts/SignikaLight-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/Signika-Light.woff2') format('woff2'),
        url('../fonts/Signika-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'Ecolive';
    src: url("../fonts/Ecolive-Body-Bold.eot");
} 

@font-face {
    font-family: 'Ecolive';
    src: url("../fonts/Ecolive-Body-Bold.woff");
} 

@font-face {
    font-family: 'Ecolive';
    src: url("../fonts/Ecolive-Body-Bold.woff2");
} 

@font-face {
    font-family: 'Ecolive';
    src: url("../fonts/Ecolive-Body-Boldd41d.eot");
} 

@font-face {
    font-family: 'Ecolive';
    src: url("../fonts/Ecolive-Body-Regular.eot");
} 

@font-face {
    font-family: 'Ecolive';
    src: url("../fonts/Ecolive-Body-Regular.woff");
} 

@font-face {
    font-family: 'Ecolive';
    src: url("../fonts/Ecolive-Body-Regulard41d.eot");
} 

@font-face {
    font-family: 'Ecolive';
    src: url("../fonts/Ecolive-Body-Regular.woff2");
} 
