/* font-family: 'Roboto'; */
/* font-family: 'Signika'; */


/* =========== Variables -============ */
:root{
    --green: #347758;
    --yellow: #f2b922;
    --white: #FFF;
    --black: #000;
    --font-65: #656565;
    --font-3d: #3D3D3D;
    --sec-space: 0 0 80px;
    --signika: 'Signika';
}
/* =================== Default CSS ================ */
*{
    margin: 0;
    box-sizing: border-box;}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input:focus{
    outline: none;
}
.container{
    max-width: 1650px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

/* ===================== Header ========================= */
.header-top{
    padding: 30px 0;
}
.logo img{
    width: 132px;
}
.call-top i {
    color: var(--green);
    padding-right: 15px;
    transform: translateY(-7px) rotate(-45deg);
}
.call-top a{
    font-weight: 600;
    color: var(--font-3d);
    transition: all 0.5s;
    font-family: var(--signika);
    font-size: 20px;
    padding-right: 50px;
}
.top-search {
    position: relative;
    align-items: center;
}
.top-search .fa-magnifying-glass {
    position: absolute;
    top: 30%;
    right: 3%;
}
.call-top a:hover{
    color: var(--green);
}
.top-search input[type="text"]{
    padding: 15px 60px 15px 20px;
    border-radius: 12px;
    border: 2px solid #F2F2F2;
    width: 616px;
}
.top-search input[type="text"]::placeholder{
    color: var(--font-65);
    font-weight: 600;
    font-size: 14px;
}
.top-account{
    align-items: center;
    justify-content: flex-end;
}
.top-account a{
    font-family: var(--signika);
    font-size: 14px;
    color: var(--font-3d);
}
.top-account i {
    color: var(--green);
    background-color: #EFF7E2;
    padding: 15px 17px;
    margin-right: 15px;
    border-radius: 12px 12px 28px;
    font-size: 20px;
    transition: 0.5s;
}
.top-account a:hover i{
    border-radius: 12px;
}
.number{
    position: relative;
    display: inline-block;
}
.number:after {
    position: absolute;
    content: "o";
    top: 0;
    right: 18%;
    color: var(--green);
    background-color: var(--yellow);
    border-radius: 50%;
    text-align: center;
    line-height: 12px;
    height: 15px;
    width: 15px;
    border: 3px solid #FFF;
}

