/* font-family: 'Roboto'; */
/* font-family: 'Signika'; */


/* =========== Variables -============ */
:root{
    --green: #347758;
    --yellow: #F4C340;
    --white: #FFF;
    --black: #000;
    --font-65: #656565;
    --font-3d: #3D3D3D;
    --sec-space: 0 0 80px;
    --signika: 'Signika';
    --transition: all 0.5s;
}
/* =================== Default CSS ================ */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--signika);
}
::selection{
    background-color: var(--green);
    color: var(--white);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input:focus{
    outline: none;
}
.container{
    max-width: 1650px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.btn{
    background-color: var(--yellow);
    color: var(--font-3d);
    border-radius: 5px;
    padding: 17px 40px;
    font-weight: 700;
    transition: 0.5s;
}
.btn:hover{
    background-color: var(--green);
    color: var(--white);
}
.heading h2{
    font-size: 36px;
    color: var(--green);
    font-weight: 700;
}
.heading{
    margin-bottom: 30px;
}
.shop-btn {
    color: var(--green);
    background-color: #EFF7E2;
    padding: 15px 17px;
    border-radius: 12px 12px 28px;
    font-size: 20px;
    transition: 0.5s;
}
/* ===================== Header ========================= */
.header-top{
    padding: 30px 0;
    border-bottom: 1px solid #F2F2F2;
}
.logo img{
    width: 132px;
}
.call-top i {
    color: var(--green);
    padding-right: 15px;
    transform: translateY(-7px) rotate(-45deg);
}
.call-top a{
    font-weight: 600;
    color: var(--font-3d);
    transition: var(--transition);
    font-family: var(--signika);
    font-size: 20px;
    padding-right: 50px;
}
.top-search {
    position: relative;
    align-items: center;
}
.top-search .fa-magnifying-glass {
    position: absolute;
    top: 30%;
    right: 3%;
}
.call-top a:hover{
    color: var(--green);
}
.top-search input[type="text"]{
    padding: 15px 60px 15px 20px;
    border-radius: 12px;
    border: 2px solid #F2F2F2;
    width: 616px;
}
.top-search input[type="text"]::placeholder{
    color: var(--font-65);
    font-weight: 600;
    font-size: 14px;
}
.top-account{
    align-items: center;
    justify-content: flex-end;
}
.top-account a {
    font-family: var(--signika);
    font-size: 14px;
    color: var(--font-3d);
    margin-left: 20px;
}
.top-account i {
    color: var(--green);
    background-color: #EFF7E2;
    padding: 15px 17px;
    border-radius: 12px 12px 28px;
    font-size: 20px;
    transition: 0.5s;
}
.top-account i.fa-user{
    margin-right: 15px;
}
.top-account a:hover i{
    border-radius: 12px;
}
.number{
    position: relative;
    display: inline-block;
}
.number:after {
    position: absolute;
    content: "o";
    top: 0;
    right: -12%;
    color: var(--green);
    background-color: var(--yellow);
    border-radius: 50%;
    text-align: center;
    line-height: 12px;
    height: 15px;
    width: 15px;
    border: 3px solid #FFF;
}
.header-bottom{
    padding: 20px 0;
    align-items: center;
}
.header-bottom .row{
    align-items: center;
}
.cat-btn {
    background-color: var(--yellow);
    padding: 20px 20px 20px 30px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
}
.cat-btn i.fa-arrows-to-circle{
    margin-right: 10px;
}
.cat-btn i.fa-angle-down {
    margin-left: 60px;
}
.nav-items{
    padding: 0 15px;
}
.navigation ul{
    padding: 0;
}
.navigation ul li a{
    color: var(--font-3d);
    display: flex;
    align-items: center;
    position: relative;
}
.navigation ul li a:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--green);
    transition: var(--transition);
}
.drop-menu{
    position: absolute;
    padding: 10px 0;
}
.drop-menu a{
    padding: 5px 0;
}
.navigation ul li a:hover::before{
    width: 100%;
}
.navigation ul li a i{
    padding-left: 7px;
    font-size: 14px;
}
.ship {
    text-align: right;
    color: var(--font-65);
}
.ship i{
    padding-right: 10px;
    color: var(--black);
    font-size: 20px;
}

/* =================== Banner ================ */
.banner{
    background-color: #f9f1e4;
    padding-top: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.banner:after{
    content: "";
    position: absolute;
    top: 0;
    left: 60%;
    height: 100%;
    width: 100%;
    background: url("../images/banner-bg.png") no-repeat;
    z-index: -1;
}
.banner .col-6 .banner-image{
    padding-left: 30px;
}
.banner .banner-content{
    padding: 100px 0;
}
.banner .banner-content h1{
    font-size: 90px;
    color: var(--green);
    margin-bottom: 30px;
    line-height: 1;
}
.banner .banner-content p{
    font-size: 24px;
    color: var(--font-65);
    margin-bottom: 80px;
}
.banner .banner-content img {
    margin-left: -50px;
}

/* ============= Perks ========== */
.perk{
    padding: var(--sec-space);
    padding-top: 80px;
}
.perk .container{
    padding: 30px;
    border-radius: 24px;
    border: 2px solid #F2F2F2;
}
.perk-info{
    border-right: 2px solid #F2F2F2;
    padding-left: 30px;
}
.perk-detail{
    padding-left: 30px;
}
.perk .col-3:last-child .perk-info{
    border: none;
}
.perk .col-3:first-child .perk-info{
    padding: 0;
}
.perk-detail h3{
    font-size: 20px;
    color: var(--green);
    line-height: 26px;
}
.perk-detail p{
    font-size: 15px;
    color: var(--font-65);
    line-height: 26px;
    max-width: 250px;
}
/* ============= Offers ============== */
.offers {
    padding: var(--sec-space);
    display: inline-block;
    width: 100%;
}
.offers .row .col-6{
    padding: 0 15px;
}
.off {
    background-image: url("../images/fish.jpeg");
    padding: 80px 55px;
    border-radius: 24px;
    background-size: 100%;
    transition: var(--transition);
}
.off:hover{
    background-size: 110%;
    cursor: pointer;
}
.off h2{
    font-size: 36px;
    color: var(--white);
    margin-bottom: 10px;
}
.off p{
    font-size: 15px;
    color: var(--white);
}
.off-2{
    background-image: url("../images/orange.jpeg");
}
.off-2 h2{
    color: var(--green);
}
.off-2 p{
    color: var(--font-65);
}
/* ================= Products ============== */
.products{
    padding: var(--sec-space);
}
.products .heading{
    justify-content: space-between;
    align-items: center;
}
.product-cat ul li{
    margin: 0 1px;
}
.product-cat ul li a{
    padding: 5px 10px;
    color: var(--font-65);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: var(--transition);
    line-height: 22px;
}
.product-cat ul li a:hover,.product-cat ul li a.active{
    background: rgba(244, 196, 64, 0.2);
    color: var(--green);
}
.product-card{
    width: 20%;
    border: 2px solid #F2F2F2;
    border-radius: 24px;
    padding: 30px;
    transition: var(--transition);
    margin: 0 15px;
}
.main-product .product-card:first-child{
    margin-left: 0;
}
.main-product .product-card:last-child{
    margin-right: 0;
}
.product-card:hover{
    border-color: var(--yellow);
}
.product .badge {
    padding: 0 10px;
    line-height: 22px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #f4f4f4;
    color: var(--font-3d);
}
.product .pro-cat{
    color: var(--yellow);
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 600;
}
.product .pro-name{
    color: var(--font-3d);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}
.product .pro-unit{
    font-weight: 600;
    font-size: 15px;
}
.product .pro-unit span{
    color: #BCBCBC;
    line-height: 24px;
    font-weight: 400;
}
.product .price{
    justify-content: space-between;
    align-items: center;
}
.product .price .shop-btn{
    font-size: 16px;
    background-color: #F4F4F4;
    color: #BCBCBC;
    transition: var(--transition);
}
.product .price .shop-btn:hover{
    border-radius: 12px;
}
.product-card:hover .price .shop-btn{
    background-color: var(--yellow);
    color: var(--black);
}
.product .price .bhav{
    font-size: 20px;
    color: var(--green);
}